<div class="container container-glasses">
    <div class="images-row">
        <div class="img-section">
            <img class="glass-img lazyload" data-sizes="auto" src="{{cdn 'img/left-glasses.png'}}">
            <div class="subtitle"></div>
        </div>
        <div class="img-section">
            <img class="glass-img lazyload absolute" data-sizes="auto" src="{{cdn 'img/right-glasses.png'}}">
            <div class="subtitle"></div>
        </div>

    </div>
    <div class="middle-row">
        <div class="text">
            <div class="title">
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Suspendisse a elit faucibus, 
                vehicula urna sit amet, 
                tincidunt orci. Etiam vitae 
                purus malesuada, luctus orci 
                hendrerit, euismod risus. 
                Morbi vel lacinia ante. 
            </div>

            <div class="subtitle">
                <span>
                    shop full collection
                </span>
            </div>

        </div>
        <div class="middle-right"></div>
        
    </div>
    <div class="third-row">
        <div class="img-section">
            <img class="glass-img lazyload" data-sizes="auto" src="{{cdn 'img/bottom-glasses.png'}}">
            <div class="subtitle"></div>
        </div>
        <div class="text-section">
            <div class="main-title">
                new Blue max uv protect glasses
            </div>
            <div class="title">
                Our best selling lens for screen users. 
                Most blue block lenses only block 40% 
                of blue light. Blue Max lenses use the 
                very latest tech to increase this to 70% 
                with the added benefit of 100% UV protection.
            </div>
            <div class="subtitle">
                <span>
                    shop Blue Max Lenses
                </span>
            </div>
        </div>
        
    </div>
</div>

