// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    background: #FBF7F3;
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

.hero {
    position: relative;

    img {
        width: 100%;
    }

    svg {
        position: absolute;
        bottom: 34px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    max-width: 500px;
    padding: 50px;
    transform: translateY(-50%);
    background: #fff;
    text-transform: uppercase;

    h2 {
        margin: 0 0 40px;
        font-size: 36px;
    }

    p {
        display: inline-block;
        position: relative;
        margin: 0;
        color: #89A999;
        letter-spacing: 0.15em;

        &::after {
            content: '';
            position: absolute;
            left: 115%;
            top: 50%;
            width: 53px;
            height: 1px;
            background: #89A999;
        }
    }
}

.benefits {
    max-width: 1192px;
    margin: 0 auto;
    color: #847A6E;

    ul {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        padding-bottom: 40px;
        border-bottom: 1px solid #D7C7B5;
        list-style: none;
    }

    li {
        display: inline-flex;
        align-items: center;
        margin: 0;
        padding: 0 40px;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        &:not(:last-child) {
            border-right: 1px solid #D7C7B5;
        }
    }

    img {
        max-width: 27px;
        max-height: 17px;
        margin-right: 10px;
    }
}
